<div class="card mb-3">
  <div class="card-body">
    <div class="card-title text-bold h5">{{product.name}}</div>
    <div class="card-subtitle text-muted h6">{{product.description}}</div>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]" class="card-link">View Details</a>
    <!--<div class="card-text">
      <span>Price: </span>
      <span class="text-danger font-weight-bold">$ {{product.price}}</span>
    </div>
    <div class="card-text">
      <small>Quantity: <b>{{product.quantity}}</b></small>
    </div>
    <button type="button" [attr.disabled]="product.isInStock" (click)="add.emit(product)">
      Add to Cart
    </button>-->
  </div>
</div>