<div class="card w-100 ml-2 mb-3">
  <div class="card-body">
    <div class="card-subtitle">
      <div class="row">
        <div class="col font-weight-bold h5">{{ product.name }}</div>
        <div class="col h6 text-right">{{ product.price | currency }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a
          [title]="product.name + ' details'"
          [routerLink]="['/products', product.id]"
          class="card-link small">
          View Details
        </a>
      </div>
      <div class="col card-text small text-right text-muted">
        Stock Quantity: {{ product.quantity }}
      </div>
    </div>
    <button type="button" class="float-right btn btn-sm btn-primary" [attr.disabled]="isOutOfStock" (click)="addToCart.emit(product)">Add to Cart</button>
  </div>
</div>